@use './animations';
@use './colors';

$default-font: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
$heading-font: 'Cinzel', Tahoma, Geneva, Verdana, sans-serif;

body,
button {
  font-family: $default-font;
  color: colors.$black;
}

h1 {
  font-family: $heading-font;
  font-size: 4rem;
}

.fade-and-grow {
  animation: fade-and-grow 1s ease-in-out;
}
