$default-font: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
$heading-font: 'Cinzel', Tahoma, Geneva, Verdana, sans-serif;

body,
button {
  font-family: $default-font;
  color: #000;
}

h1 {
  font-family: $heading-font;
  font-size: 4rem;
  kerning: 12px;
}
