@use '../../../styles/colors';

:host {
  display: block;
}

.wheel-svg {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: colors.$black 1px 2px 4px 0px;
}

.wheel-rotor {
  transform-origin: 50% 50%;
}

.segment {
  stroke: colors.$roulette-segment-stroke;
  stroke-width: 1;
  fill: colors.$roulette-segment-fill-default;
}

.segment-red {
  fill: url(#rouletteRed);
}

.segment-black {
  fill: url(#rouletteBlack);
}

.segment-green {
  fill: url(#rouletteGreen);
}

.segment-label {
  fill: colors.$white;
  font-size: 14px;
  font-weight: bold;
  user-select: none;
  pointer-events: none;
}

.rim {
  fill: none;
  stroke-width: 3;
}

.hub {
  fill: url(#goldHighlight);
}
